<% layout("/layouts/boilerplate") %>
 
<body>
    <h2>All Listings</h2>
    <br>
     <form method="GET" action="/listings/new">
     <button>create new Listing</button>
    </form>
    <br>
    <ul>
    <% for(let listings of allListings) { %>
        <li><a href="/listings/<%= listings.id %>"><%= listings.title %></a></li>
        <li><a href="/listings/<%= listings.id %>"><%= listings.title %></a></li>
        <li><a href="/listings/<%= listings.id %>"><%= listings.title %></a></li>
        <li><a href="/listings/<%= listings.id %>"><%= listings.title %></a></li>
    <% } %>
    </ul>
</body>

